<% provide(:title, 'Pacjenci') %>
<h1>Karty pacjentów</h1>

<div class="left">
  <%= button_to "Wyszukaj pacjenta", search_patients_path, :method => "get", class: "btn btn-large btn-primary" %>
</div>

<%= will_paginate next_label: ">", previous_label: "<", inner_window: 1, outer_window: 0 %>

<ul class="users">
  <% @patients.each do |user| %>
     
      <li>

        <%= image_tag("patient.png", alt: "patient", class: "avatar") %>
        <%= link_to "#{user.name} #{user.surname}" , patient_path(user), method: :get %>
        |<%= link_to " edytuj pacjenta", edit_patient_path(user), method: :get %>
        |<%= link_to " usuń pacjenta", user, method: :delete, data: { confirm: "Jesteś pewien?" } %>
        </br>
        <%= "PESEL: #{user.pesel}" %>
        </br>
        </br>
        <%= "karta  założona: #{user.created_at.strftime("%d.%m.%Y godz.%H:%M")}" %>
        </br>
        <%= "ostatnia wizyta: -----" %>
      </li>
    
  <% end %>
</ul>

<%= will_paginate next_label: ">", previous_label: "<", inner_window: 1, outer_window: 0 %>

</br>
<div class="left">
  <%= button_to "Dodaj pacjenta", new_patient_path, :method => "get", class: "btn btn-large btn-primary" %>
</div>
