<% provide(:title, 'Moi pacjenci') %>
<h1>Karty moich pacjentów</h1>

<%= will_paginate next_label: ">", previous_label: "<", inner_window: 1, outer_window: 0 %>

<ul class="users">
  <% @patients.each do |user| %>
     
      <li>

        <%= image_tag("patient.png", alt: "patient", class: "avatar") %>
        <%= link_to "#{user.name} #{user.surname}" , patient_path(user) %>
        |<%= link_to " edytuj pacjenta", edit_patient_path(user) %>
        </br>
        <%= "PESEL: #{user.pesel}" %>
        </br>
        </br>
        <%= "karta  założona: #{user.created_at.strftime("%d.%m.%Y godz.%H:%M")}" %>
        </br>
        <% last_visit = Visit.find_by_patient_id(user.id) %>
        <% last_visit = last_visit.created_at.strftime("%d.%m.%Y godz.%H:%M") if last_visit %>
        <% last_visit = "brak" unless last_visit %>
        <%= "ostatnia wizyta: #{last_visit}" %>
      </li>
    
  <% end %>
</ul>

<%= will_paginate next_label: ">", previous_label: "<", inner_window: 1, outer_window: 0 %>
