<% show_name = @patient.name + ' ' + @patient.surname %>
<% provide(:title, show_name) %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= image_tag("patient.png", alt: "patient", class: "avatar") %>
        <%= show_name %>
      </h1>
    <section>
    PESEL: <%= @patient.pesel %>
  </br>
  <%= link_to "edytuj", edit_patient_path(@patient) %>
  </br>
  <% if current_user.admin? %>
  <%= link_to "usuń", @patient, method: :delete, data: { confirm: "Jesteś pewien?" } %>
  </br>
  <% end %>
  <% unless current_user.admin? %>
  <%= link_to "nowa wizyta", "#{new_visit_path}?patient=#{@patient.id}" %>
  <% end %>        
  </aside>
  <div class="span8">
    <% if @patient.visits.any? %>
      </br>
      </br>
      <h3>Wizyty (<%= @patient.visits.count %>)</h3>
      <ol class="microposts">
        <%= render @visits %>
      </ol>
      <%= will_paginate @visits %> 
    <% end %>
  </div>
</div>

<div class="center">
  </br>
  <%= "karta  założona: #{@patient.created_at.strftime("%d.%m.%Y godz.%H:%M")}" %>
<div>
